*{
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: inherit;
    font-weight: 400;

}

header{
    position: fixed;
    height: 4rem;
    top: 0;
    align-items: center;
    width: 100%;
}
.header{
    display: inline-flex;
    width: 100%;
    background-color:linen;
}

.logo{
    display: inline-flex;
    margin-left: 1.5rem;
    align-items: center;
    width: 25%;
}


.logo p b{
    font-weight: bold;
}

header nav{
    width: 100%;
    justify-content: flex-end;
    margin: 1.5rem;
}

header nav ul{
    display: inline-flex;
    align-items: center;
}

nav ul li{
    margin-right: 16px;
}

body{
    position: relative;
    top: 4rem;
    background-color:seashell;
}

.start{
    padding: 2rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.start img{
    width: 60%;
    height: auto;
    margin-right: 2rem;
}

.learn{
    display: flex;
    flex-flow: wrap column;
    width: 30%;
}

.learn h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.learn p{
    font-weight: bold;
    margin-bottom: 1rem;
}

.learn a{
    padding: .5rem 3rem;
    background-color:darkgray;
    width: 50%;
    text-align: center;
}

.keep{
    padding: 2rem 0 2rem 1.5rem;
    width: 100%;
    display: inline-flex;
}

.practicing{
    width: 60%;
    padding-right: 1.5rem;
}

.practicing img{
    width: 100%;
}

.practicing h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.practicing .quote{
    font-size: .625rem;
    font-weight: 300;
    padding-bottom: 1.5rem;
}

.practicing .attribution{
    font-size: .625rem;
}

.keep .dates{
    width: 40%;
}

.orientation{
    display: inline-flex;
}

.orientation img{
    width: 35%;
    height: auto;
    padding: 1rem;
}

.campus{
    display: inline-flex;
}

.campus img{
    width: 35%;
    height: auto;
    padding: 1rem;
}

.lecture{
    display: inline-flex;
}

.lecture img{
    width: 35%;
    height: auto;
    padding: 1rem;
}

.list{
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    
}

.list h3{
    font-weight: bold;
    padding-bottom: .5rem;
}

.list p{
    font-size: .7rem;
    padding-bottom: .5rem;
}

.list a{
    font-size: .7rem;
    color: cornflowerblue;
}

.learning h2{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4.5rem;

}

.start img{
    height: auto;
}



.exhibit{
    width: 100%;
}

video{
    width: 60%;
}