*{
    font-family: sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: #ffffffae;
    font-weight: 400;
}

header{
    position: fixed;
    height: 4rem;
    top: 0;
    align-items: center;
    width: 100%;
}
.header{
    display: inline-flex;
    width: 100%;
}

.logo{
    display: inline-flex;
    margin-left: 1.5rem;
    align-items: center;
    width: 25%;
}


.logo p b{
    font-weight: bold;
}

header nav{
    width: 100%;
    justify-content: flex-end;
    margin: 1.5rem;
}

header nav ul{
    display: inline-flex;
    align-items: center;
}

nav ul li{
    margin-right: 16px;
}

body{
    position: relative;
    top: 4rem;
}

.start{
    padding: 2rem 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff77;
}

.start img{
    width: 60%;
    height: auto;
    margin-right: 2rem;
}

.learn{
    display: flex;
    flex-flow: wrap column;
    width: 30%;
}

.learn h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.learn p{
    font-weight: bold;
    margin-bottom: 1rem;
}

.learn a{
    padding: .5rem 3rem;
    background-color: darkcyan;
    width: 50%;
    text-align: center;
}